<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 제품을 등록하기 위한 입력창을 배치하고 제출을 누르면 전송되어 등록되도록 처리 -->
	<form action="/db/insert">
		
		<input type="text" name = "name" placeholder="상품이름" required><br> 
		<br>
	
		 <input type="number" name = "price" placeholder="가격" required><br> 
		<br>
		
		 <input type="number" name = "stock" placeholder="재고" required><br> 
		<br>
		<input type = "submit">
		

	</form>
</body>
</html>