<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align = "center">
	<table border ="1">
		<thead bgcolor="yellow">
			<th>번호</th>
			<th width = "200">제목</th>
			<th width = "100">작성자</th>
			<th width = "100">작성일</th>
			<th>조회수</th>
		</thead>
		<tbody align = "center">
			<tr>
				<td>3</td>
				<td width = "200">서비스 점검 공지</td>
				<td width = "50">운영자</td>
				<td width = "50">2019-11-20</td>
				<td>35</td>
			</tr>
			<tr>
				<td>2</td>
				<td width = "200">소방 훈련 안내</td>
				<td >운영자</td>
				<td >2019-11-19</td>
				<td>60</td>
			</tr>
			<tr>
				<td>1</td>
				<td width = "200">공지사항</td>
				<td >운영자</td>
				<td >2019-11-12</td>
				<td>102</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>