<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align = "center">
	<h2>
	<font size="3">과정평가형 자격시험 일정</font>
	</h2>
	<table border ="1">
		<thead>
			<tr>
			<th rowspan="2">회차</th>
				<th colspan="3">일정</th>
			</tr>
			<tr>
				<th>접수</th>
				<th>시험</th>
				<th>발표</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1회</td>
				<td>01.28 ~ 02.01</td>
				<td>02.16 ~ 02.24</td>
				<td>03.07</td>
			</tr>
			<tr>
				<td>2회</td>
				<td>04.22 ~ 04.26</td>
				<td>05.11 ~ 05.19</td>
				<td>05.30</td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>